#include "Base.xcconfig"

PRODUCT_NAME=HabitGold Preprod
PRODUCT_BUNDLE_IDENTIFIER=com.habit.gold.preprod
APP_NAME=Preprod HabitGold
APP_ENV=preprod
API_BASE_URL=https:$(SLASH)/preprod.habitgold.com/v1/
ENABLE_NETWORK_LOGS=YES
JUSPAY_ENVIRONMENT=sandbox
APS_ENVIRONMENT=development
ENABLE_CLARITY=YES
FIREBASE_PLIST_SOURCE=GoogleService-Info-Staging.plist
